{% extends 'base.html' %}
{% load static %}
{% load highlight %}
{% block css %}
<!-- <link rel='stylesheet' type="text/css" href="{% static 'css/thustable.css' %}"> -->
<!-- <link rel='stylesheet'type="text/css" href="{% static 'css/responsive.css'%}">    -->
<link rel="stylesheet" type="text/css" href="{% static 'css/thustable.css' %}">
{% endblock %}

{% block content %}
    <p>&nbsp;&raquo;&nbsp;Search&nbsp;</p>
    {% comment %} <div class='message'>
        <form method="get" action="{% url 'haystack_search' %}" id ="message" >
		
		<input type="search" name="q" placeholder="Search" required>

		<button type="submit">搜索</button>
		
	    </form> 
    </div> {% endcomment %}

    <div style="clear:both;">
        <form method="get" action=".">
            
            {% if query %}
                <h3>Results</h3>
                        <div class="layout">
                            <div class="head">
                                <ul class="tab_header">
                                    <li class="active"><a href="?ct=&city=">全部</a> </li>
                                    <li class=""><a href="?sort=test1&ct=&item1=">排序字段1 &#8595;</a></li>
                                    <li class=""><a href="?sort=test2&ct=&item2=">排序字段2 &#8595;</a></li>
                                </ul>
                            </div>
                
                                {% for result in page.object_list %}
                                      <div class="item-box" style="display: flex;text-shadow:#f4f4f4;height:160px;" style="box-shadow: 10px 5px #f4f4f4;">
        
                                        <div class="items_picture " >
                                            <!-- 图片居中 -->
                                            <a href="..{{ MEDIA_URL }}{{result.object.entryname}}" target="_blank">
                                                <img width="200" height="120" class="scrollLoading" src="..{{ MEDIA_URL }}{{result.object.entryname}}"/>
                                            </a>
                                            
                                        </div>
                                        <div class="items_picture" >
                                            <a href="/tables/{{ result.object.cid }}">
                                                {% comment %} <h3>{% highlight result.object.entryname with query with query html_tag "div" css_class "highlight_me_please" %} </h3> {% endcomment %}
                                                <h3>{% highlight result.object.entryname with query   max_length 40 %} </h3>
                                                
                                            </a>
                                            <ul>
                                                <p>Compound CID: <em> 9549299 </em></p>
                                                <p>Compound CID: <em> 9549299 </em></p>
                                                <p>Compound CID: <em> 9549299 </em></p>  
                                            </ul>
                                        </div>  
                                        <div class="text-center" id="moreInfo">                                             
                                    <!-- 如何让文字据中央？？？ -->
                                            <h2 class="text-align:center" style="font-size:26px ;">详细</h2>
                                            <h2 class="text-align:center" style="font-size:26px ;">信息</h2>
                                        </div>
                                    </div>
                                        
                            {% empty %}
                                <p>No results found.</p>
                            {% endfor %}
                            
                    
                        </div>
                 
            <!-- page display-->
            <div class="pageturn">  
                <ul class="nav nav-pills text-center">
                    <div class="pagination">
                        {% comment %} <span class="step-links"> {% endcomment %}
                            {% if page.has_previous or page.has_next %}
                                    {% if page.has_previous %}
                                    <li class="long">
                                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}{% if page.has_previous %}&laquo;Previous</a>{% endif %}</li>
                                    
                                    {% comment %} <li class="long"> {% endcomment %}
                                    {% comment %} <span class="current"> {% endcomment %}
                                        &nbsp;&nbsp;<em style="text-align:center;line-height:29px;">Page{{ page.number }} of {{ page.paginator.num_pages }} </em>
                                    {% comment %} </span> {% endcomment %}
                                    </li>
                                    {% if page.has_next %}
                                    <li class="long">
                                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% if page.has_next %}&raquo;Next&nbsp;&nbsp;&nbsp;</a>{% endif %}</li>
                               
                            {% endif %}
                        {% comment %} </span>  {% endcomment %}
                    {% else %}
                        {# Show some example queries to run, maybe query syntax, something else? #}
                    {% endif %}    
                    </div>
                </ul>        
            </div>             
        </form>
    </div>
    <style>
        span.highlighted {
            color: red;
        }
    </style>
{% endblock %}