{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>chemicial Not found</title> 
{% endblock %}


{% block content %}
	<section class="bg404 errorpage">
		<div class="wp">
			<div class="cont">
				<img src="{%static 'image/pic404.png' %}"/>
				<br/><br/><br/><br/>
				<p>wow~这个页面被外星人抢走了~</p>
				{% if error_msg %}
    				<p>{{ error_msg }} 没有找到，兄弟</p>
				{% endif %}
				{% if q %}
    				<p>{{ q }} 没有找到，兄弟</p>
				{% endif %}
				<br/>
				<span>Wow~ this page was the alien took ~</span>
			</div>
		</div>
	</section>
{% endblock %}

	

