{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>chemistry particles</title> 
{% endblock %}

{% block header %}    


{% endblock %}    
    

{% block css %}

{% endblock %}
{% block navigation%}
    <li role="presentation" ><a href="{% url 'index' %}">Home</a></li>
    <!-- <li role="presentation" ><a href="{% url 'tables' %}">Tables</a></li> -->
    <li role="presentation" class="active"><a href="{% url 'about' %}">About</a></li>	
{% endblock %}
{% block content %}
    <div id='wrapper' class-"container">
        <section>
            
            <h3>搜索请点击Go</h3>
            
            <!-- <p>其他文献</p> -->
        </section>
        <section>
            
            <h3>About</h3>
            <p>专注于茶叶的研究</p>
            <p>茶叶代谢组的和其他组的区别</p>
            <!-- <p>其他文献</p> -->
        </section>
        <!-- <footer>
            <a href="https://www.baidu.com" ><img src="image/Block.jpg" alt="test_picture"></a>
            {% comment %} <img src="image/Block.jpg" alt="test_picture" class="social-icon">
            <img src="image/Block.jpg" alt="test_picture" class="social-icon"> {% endcomment %}
            <p>&copy;2021tea</p>
        </footer> -->
    </div>
{% endblock %}

    
    
