{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h4>results</h4>
    <h4><li>&raquo;Search &nbsp;&raquo;&nbsp;{{ Chemicial.molecularformula }}</li></h4>
    <!-- <div class='message'>
        <form method="get" action="{% url 'haystack_search' %}" id ="messagTop" >
		
		<input type="search" name="q" placeholder="Search" required>

		<button type="submit">搜索</button>
		
	    </form> 
    </div>   -->
    
    <div id="items" >
        <ul>

            <li><a href="#miao">编号系统</a></li>
            
            <li><a href="#wang">物性数据</a></li>
            
            <li><a href="#meng">药代动力学数据</a></li>
        
        </ul>
    </div>
    <!-- <div id="sidebar">
        <ul>

            <li><a href="#miao">编号系统</a></li>
            
            <li><a href="#wang">物性数据</a></li>
            
            <li><a href="#meng">药代动力学数据</a></li>
        
        </ul>
    </div> -->
   
    {% comment %} <h1>化合物详细信息如下：</h1> {% endcomment %}

    <div class='contentResult'>
        <div id="contentTop">
            <div id="contentheadleft" >
                <a href="..{{ MEDIA_URL }}{{ Chemicial.entryname }}">
                    <img src="..{{ MEDIA_URL }}{{Chemicial.entryname}}" alt=""/>
                </a>
            </div>
            <table id="contentheadright">
                <tbody>
                    <!-- display number begin -->
                    
                    <tr >
                        <th  scope="row" style="text-align:center;background:#ddd;">分子式：</th>
                        <td><a href="">{{ Chemicial.molecularformula }}</a></td>
                    </tr>
                    <tr>
                        <th  scope="row">分子量:</th>
                        <td style="background:#ddd;"><a href="" >{{ Chemicial.molecularweight }}</a></td>
                    </tr>
                    <tr>
                        <th  scope="row" style="text-align:center;background:#ddd;">tips:</th>
                        <td><a href="{{ Chemicial.object.get_absolute_url }}">{{ Chemicial.extra_word }}</a></td>
                    </tr>
                </tbody>
            </table>   
        </div>
        <table>
            <tbody>
                <!-- serial number begin -->
                
                    <tr>
                        <th colspan="2" style="text-align:center;background:#ddd">
                            <a name="miao" style="color:black;">serial number data
                            </a>
                        </th>
                        
                    </tr>
                    <tr>
                        
                        <th scope="row" style="padding:0.2em 0; line-height:1.2em;">CAS number</th>
                        <td><a href="">{{ Chemicial.cas }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row" style="padding:0.2em 0; line-height:1.2em;">EINECS number</th>
                        <td><a href="{{ Chemicial.object.get_absolute_url }}"></a>{{ Chemicial.einecs }}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="padding:0.2em 0; line-height:1.2em;">PubChem</th>
                        <td><a href="{{ Chemicial.object.get_absolute_url }}">{{ Chemicial.pubchem }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row" style="padding:0.2em 0; line-height:1.2em;">IUPAC Name</th>
                        <td><a href="{{ Chemicial.object.get_absolute_url }}">oxidane</a></td>
                    </tr>
                    <tr>
                        <th scope="row" style="padding:0.2em 0; line-height:1.2em;">Create Date:</th>
                        <td><a href="{{ Chemicial.object.get_absolute_url }}">2010 02 15</a></td>
                    </tr> 
            <!-- serial number end -->
            <tr>
            
                {% comment %} <th colspan="2" style="text-align:center;background:#ddd">Chemical and physical data</th> {% endcomment %}
                <!-- <th colspan=2 ><img style='width:300px;height:200px' class="scrollLoading" src="..{{ MEDIA_URL }}{{Chemicial.object.entryname}}"/></th>     -->
            </tr>
                
                <tr name="wang">
                    
                    <th colspan="2" style="text-align:center;background:#ddd;color:black;"><a name="wang" style="color:black;">Chemical and physical data</a></th>
                    
                </tr>
                <tr>
                    
                    <th scope="row" style="padding:0.2em 0; line-height:1.2em;">name</th>
                    <td><a href="">{{ Chemicial.molecularformula }}</a></td>
                </tr>
                <tr>
                    <th scope="row" style="padding:0.2em 0; line-height:1.2em;">mole</th>
                    <td><a href="{{ Chemicial.object.get_absolute_url }}"></a>{{ Chemicial.molecularweight }}</td>
                </tr>
                <tr>
                    <th scope="row" style="padding:0.2em 0; line-height:1.2em;">InChIKey</th>
                    <td><a href="{{ Chemicial.object.get_absolute_url }}">XLYOFNOQVPJJNP-UHFFFAOYSA-N</a></td>
                </tr>
                <tr>
                    <th scope="row" style="padding:0.2em 0; line-height:1.2em;">IUPAC Name</th>
                    <td><a href="{{ Chemicial.object.get_absolute_url }}">oxidane</a></td>
                </tr>
                <tr>
                    <th scope="row" style="padding:0.2em 0; line-height:1.2em;">Create Date:</th>
                    <td><a href="{{ Chemicial.object.get_absolute_url }}">2010 02 15</a></td>
                </tr> 

            </tbody>
        </table>
    </div>
{% endblock %}

