<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Open+Sans+Condensed:ital,wght@1,300&display=swap"
    rel="stylesheet">
    <link  rel='stylesheet' href='css/main.css'>
    <link  rel='stylesheet' href='css/responsive.css'>
    <meta name="viewport" content="width=device-width;initial-scale=1.0">
</head>
    
<body>
    <header>
        <a href="index.html" id='logo'>
            <h1>I LOve www.jayjiao.cn </h1>
            <h2>easy and happy to learn</h2>
        </a>
        <nav>
            <ul>
                <li><a href="index.html">Video</a></li>
                <li><a href="About.html" >About</a></li>
                <li><a href="Contact.html" class="selected">Contact</a></li>
                <li><a href="index.html" >How to use</a></li>
                <li><a href="About.html">Document</a></li>
                <li><a href="Contact.html">Download</a></li>
            </ul>
        </nav>
    </header>
    <div id='wrapper'>
        <section id="pramary">
            <h3>General information</h3>
            <p>茶叶代谢组的研究</p>
            <p>China ,Fujian, FUzhou</p>
            <!-- <p>其他文献</p> -->
        </section>
        <section id="secondary">
            <h3>Contact Details</h3>
            <ul class="contact-info">
                <li class="phone"><a href="tel:888888">888888</a></li>
                <li class="mail"><a href="mailto:918718278@qq.com">918718278@qq.com</a></li>
                <li class="address"><a href="github:888888">China ,Fujian, FUzhou</a></li>
            </ul>
            <!-- <p>其他文献</p> -->
        </section>
        <footer>
            <a href="https://www.baidu.com" ><img src="image/Block.jpg" alt="test_picture"></a>
            <img src="image/Block.jpg" alt="test_picture" class="social-icon">
            <img src="image/Block.jpg" alt="test_picture" class="social-icon">
            <p>&copy;2020虚幻大学</p>
        </footer>
    </div>
</body>
</html>