{% load static %}

{% block css %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Open+Sans+Condensed:ital,wght@1,300&display=swap"
    rel="stylesheet">
	
<link  rel='stylesheet' type="text/css" href="{% static 'teafound/main.css' %}">
    <!-- 自适应设备 -->
{% comment %} <meta name="viewport" content="width=device-width;initial-scale=1.0"> {% endcomment %}
{% endblock %}

{% block content %}

	<header>
        <a href="index.html" id='logo'>
            <h1>I LOve www.jayjiao.cn </h1>
            <h2>easy and happy to learn</h2>
        </a>
        <nav>
            <ul>
				{% comment %} <li><a href="{% url 'learning_logs:index'%}" >learning_logs</a></li> {% endcomment %}
                <li><a href="{% url 'index' %}">Video</a></li>
                <li><a href="About.html" class="selected">About</a></li>
                <li><a href="Contact.html">Contact</a></li>
                <li><a href="index.html" >How to use</a></li>
                <li><a href="About.html">Document</a></li>
                <li><a href="Contact.html">Download</a></li>
            </ul>
        </nav>
    </header>

	<div class="box-body" >	
			<!--第二步：表格添加如下 HTML 代码-->
		<table id="table_id_example" class="display">
			<thead>
				<tr>
					<th>序号</th>
					<th>Entry Name</th>
					<th>名字</th>
					<th>Compound Formula</th>
				</tr>
			</thead>
			<tbody >
				{% for asset in all_images %}
						<tr>
							<td>{{ asset.chemstructcode }}</td>
							{% comment %} <p>,</p> {% endcomment %}
							{% comment %} <td class="text-blue text-bold">{{ asset.structure }}</td>  {% endcomment %}
							
							<td >
								{{  asset.EntryName  }}
							</td>
							<td class="text-blue text-bold">
								<img src="{%static asset.structure %}" alt="test_picture">
							</td>
							<td class="text-blue text-bold">
								{{  asset.CompoundFormula  }}
							</td>
						</tr>
						{% empty %}
						<tr>
							没有数据！
						</tr>
				{% endfor %}
			</tbody>
		</table>	
	</div>

	<footer>
		<a href="https://www.baidu.com" ><img src="{%static 'image/Block.jpg' %}" alt="test_picture"></a>
		<img src="image/Block.jpg" alt="test_picture" class="social-icon">
		<img src="image/Block.jpg" alt="test_picture" class="social-icon">
		<p>&copy;2020虚幻大学</p>
	</footer>
{% endblock %}

{% block script %}
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
 
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<script><!--第三步：初始化Datatables-->
    $(document).ready( function () {
        $('#table_id_example').DataTable({
			"autoWidth": true,
			"info": true,

		});
		
    } );
    </script>

{% endblock  %}